<mat-list>
    <mat-list-item *ngFor="let message of messages"
                   [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <img mat-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">
        <p mat-line *ngIf="message.action === undefined">
            <span>({{message.date}})</span>&nbsp;
            <span class="user-name"><b>{{message.from.name}}:&nbsp;</b></span>
            <span [innerHTML]="message.content"></span>
        </p>
        <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
            <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.LEFT" class="chat-notification">
            <span> <b>{{message.from.name}}</b> left the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
            <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
        </p>
    </mat-list-item>
</mat-list>
